@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Helvetica&display=swap');

.page {
  background: var(--geist-background);
  padding: 2rem;
}

.actions {
  margin-top: 2rem;
}

button {
  background: #ececec;
  border: 0;
  border-radius: 0.125rem;
  padding: 1rem 2rem;
}

button + button {
  margin-left: 1rem;
}

.bold {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--geist-foreground);
  display: inline-block;
}

.left a[data-active="true"] {
  color: gray;
}

a + a {
  margin-left: 1rem;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  background: rgba(0, 0, 0, 0.05);
  overflow-y: scroll;
}

input,
textarea {
  font-size: 16px;
}

button {
  cursor: pointer;
}


div.post {
  color: inherit;
  padding: 2rem;
}

a {
  text-decoration: none;
  color: var(--geist-foreground);
  display: inline-block;
}

a + a {
  margin-left: 1rem;
}

.right {
  margin-left: auto;
}

.right a {
  border: 1px solid var(--geist-foreground);
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

.bold {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--geist-foreground);
  display: inline-block;
}

.left a[data-active="true"] {
  color: gray;
}


.flex {
  display: flex;
  &-col {
    display: flex;
    flex-direction: column;
  }
  &-center {
    display: flex;
    align-items: center;
  }
}

p {
  display: inline-block;
  font-size: 13px;
  padding-right: 1rem;
}

.nav-logo {
  display: flex;
  align-items: center;;
}
.nav-logo-font {
  font-family: 'Playfair Display SC', serif;
  font-size: 26px;
  margin-left: 10px;
}

.right {
  margin-left: auto;
}

.right a {
  border: 1px solid var(--geist-foreground);
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

button {
  border: none;
}

nav {
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  border-bottom: 1px solid #ccc;
  background: white;
}

.bold {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--geist-foreground);
  display: inline-block;
}

.left a[data-active="true"] {
  color: gray;
}

a + a {
  margin-left: 1rem;
}

.right {
  margin-left: auto;
}

.post {
  background: var(--geist-background);
  transition: box-shadow 0.1s ease-in;
}

.post:hover {
  box-shadow: 1px 1px 3px #aaa;
}

.post + .post {
  margin-top: 2rem;
}

.profiles-page {
  text-align: center;
  margin-top: 70px;
  @media screen and (max-width: 800px) {
    margin-top: 60px;
  }
  .search-bar {
    padding: 20px 50px;
    width: 800px;
    margin: auto;
    justify-content: center;
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23); */
    margin-bottom: 10px;
    background: transparent;
    border-radius: 4px;
    @media screen and (max-width: 800px) {
      padding: 20px 20px;
    }
  }

  .search-results {
    width: 65%;
    @media screen and (max-width: 800px) {
      width: 100%;
    }
  }
  .searchbox {
    height: 70px;
    width: 500px;
    border-bottom: 1px solid #ddd;

    input {
      padding-left: 10px;
      height: 40px;
      width: 400px;
      margin: 15px;
      margin-left: 0px;
      font-size: 20px;
    }
  }
  .fab {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .search-form {
    margin-bottom: 5px;
    text-align: center;
  }
  .search-title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .search-input {
    width: 400px;
    font-size: 20px;
    height: 50px;
    padding-left: 5px;
    @media screen and (max-width: 800px) {
      width: 80vw;
    }
  }
  .search-button {
    height: 50px;
    transform: translateY(1px);
    color: white;
    padding: 10px 20px;
    background: #2a9d8f;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #2a9d8f;
    &:hover {
      background: #31ccb9;
      border: 1px solid #31ccb9;
    }
    @media screen and (max-width: 800px) {
      display: none;
    }
  }

  .search-page-content {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 800px) {
      display: unset;
    }
  }
  .other-content {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
    display: flex;
    padding-top: 120px;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    height: 300px;
    background: white;
    width: calc(35% - 10px);
    margin-left: 10px;
    font-size: 16px;
  }
  @media screen and (max-width: 800px) {
    .other-content {
      display: none;
      background: blue;
    }
  }
}

.profile-item {
  display: flex;
  flex-direction: row;
  margin: 2px auto;
  border: 1px solid #ddd;
  /* border-radius: 20px; */
  padding: 10px;
  color: black;
  cursor: pointer;
  border-radius: 10px;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23); */
  background: white;
  width: 600px;

  &:hover {
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
    transform: translateY(-1px);
    border: 1px solid #ddd; */
    background: #eefefe
  }

  .avatar {
    height: 80px;
    width: 80px;
    margin-right: 20px;
  }

  .profile-info {
    margin-right: 100px;
    width: 70%;
    text-align: left;
    .name {
      font-size: 16px;
      color: #2a9d8f;
      /* color: #333; */
      font-weight: bold;
    }
    p {
      color: #333;
      font-size: 14px;
      line-height: 16px;
    }
    .btn {
    }
    
  }
  i {
    font-size: 20px;
    margin-top: 20px;
    margin-right: 20px;
    &:hover {
      color: #d8d8d8;
    }
  }

  .skill {
    font-size: 14px;
    color: #2a9d8f;
    line-height: 20px;
    border: 0.5px solid #2a9d8f;
    border-radius: 5px;
    margin: 5px;
    padding: 0 5px;
  }

  @media screen and (max-width: 800px) {
    .avatar {
      height: 80px;
      width: 80px;
      margin-right: 10px;
    }
    .profile-info {
      margin-right: 10px;
    }
    .interests2 {
      display: none;
    }
  }
}

.profile-page {
  background: white;
  width: 800px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
  padding: 20px 50px;
  margin-top: 70px;
  @media screen and (max-width: 800px) {
    padding: 20px 15px;
    margin-top: 60px;
    width: 100%;
  }

  input {
    border-radius: 5px;
    height: 150px;
    padding: 12px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
    height: 50px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    &::placeholder {
      font-size: 16px;
      font-family: 'Raleway', sans-serif;
    }
  }
  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    &::placeholder {
      font-size: 16px;
      font-family: 'Raleway', sans-serif;
    }
  }

  .form-input-title {
    font-weight: bold;
    font-size: 18px;
    margin-top: 25px;
  }
  .button-group {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: auto; */
  }
  .button {
    height: 50px;
    width: 60px;
    margin: auto;
    line-height: 50px;
    text-align: center;
    border: 1px solid #ccc;
    &:hover {
      cursor: pointer;
      border: 1px solid darkblue;
    }
  }
  .button {
    margin-top: 10px;
    color: black;
    height: 40px;
    padding: 5px 10px;
    line-height: 30px;
      border-radius: 5px;
      width: 150px;
    &.delete {
      color: #9f0000;
      background: white;
      border: none;
      &:hover {
        color: #e91825;
        cursor: pointer;
      }
    }
  }
}