.page {
  background: var(--geist-background);
  padding: 2rem;
}

.actions {
  margin-top: 2rem;
}

button {
  background: #ececec;
  border: 0;
  border-radius: 0.125rem;
  padding: 1rem 2rem;
}

button + button {
  margin-left: 1rem;
}

.bold {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--geist-foreground);
  display: inline-block;
}

.left a[data-active="true"] {
  color: gray;
}

a + a {
  margin-left: 1rem;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  background: rgba(0, 0, 0, 0.05);
}

input,
textarea {
  font-size: 16px;
}

button {
  cursor: pointer;
}


div.post {
  color: inherit;
  padding: 2rem;
}

a {
  text-decoration: none;
  color: var(--geist-foreground);
  display: inline-block;
}

a + a {
  margin-left: 1rem;
}

.right {
  margin-left: auto;
}

.right a {
  border: 1px solid var(--geist-foreground);
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

.bold {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--geist-foreground);
  display: inline-block;
}

.left a[data-active="true"] {
  color: gray;
}




p {
  display: inline-block;
  font-size: 13px;
  padding-right: 1rem;
}


.right {
  margin-left: auto;
}

.right a {
  border: 1px solid var(--geist-foreground);
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

button {
  border: none;
}

nav {
  display: flex;
  padding: 2rem;
  align-items: center;
}

.bold {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--geist-foreground);
  display: inline-block;
}

.left a[data-active="true"] {
  color: gray;
}

a + a {
  margin-left: 1rem;
}

.right {
  margin-left: auto;
}

.post {
  background: var(--geist-background);
  transition: box-shadow 0.1s ease-in;
}

.post:hover {
  box-shadow: 1px 1px 3px #aaa;
}

.post + .post {
  margin-top: 2rem;
}