.left a[data-active="true"] {
  color: gray;
}


.right {
  margin-left: auto;
}

.right a {
  border: 1px solid var(--geist-foreground);
  padding: 0.5rem 1rem;
  border-radius: 3px;
}


.nav-logo {
  display: flex;
  align-items: center;;
}
.nav-logo-font {
  font-family: 'Playfair Display SC', serif;
  font-size: 26px;
  margin-left: 10px;
}

.right {
  margin-left: auto;
}

.right a {
  border: 1px solid var(--geist-foreground);
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

// button {
//   border: none;
// }

nav {
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  border-bottom: 1px solid #ccc;
  background: white;
}
a + a {
  margin-left: 1rem;
}



.left a[data-active="true"] {
  color: gray;
}


.right {
  margin-left: auto;
}
