.sectionsCard {
  width: 100%;
  background-color: #3d1800;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
  margin: 0 auto;
  border-radius: 5px 5px 0px 0px;
  color: white;
  padding-bottom: 20px;
  text-align: center;

  .sections {
    display: grid;
    grid-gap: 0.8rem;
    @media (min-width: 1120px) {
      grid-template-columns: repeat(1, 1fr);
    }
    padding: 10px;
  }
  .sections-title {
    font-weight: bold;
    padding-top: 10px;
  }
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #915b1d #a6845e;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
    height: 1rem;
  }

  *::-webkit-scrollbar-strack {
    background-color: #3d1800;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
  }

  *::-webkit-scrollbar-thumb {
    background-color: #321a084e;
    // background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");

    border-radius: 10px;
    border: 1px solid #c2b8b1;
    &:hover {
      background-color: #8e6e2f;
      // background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");

      background-color: rgba(0, 0, 0, 0.6);
    }
  }
  .books {
    width: 100%;
    overflow: hide;
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: left;
    min-width: 100%;
    overflow-x: auto;
    bottom: 0;
    height: 100%;

    &.right {
      justify-content: right;
      // direction: rtl;
    }

    &.left {
      justify-content: left;
      direction: ltr;
    }
  }

  .menu-item {
    background: white;
    &:hover {
      color: darkblue;
      font-weight: bold;
    }
  }

  .section {
    position: relative;
    background-color: #8d6649;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    height: 130px;
    width: 100%;
    overflow: auto;
    &:hover {
      .section-label,
      .section-label.align-button {
        opacity: 1;
      }
    }

    &:hover {
      background-color: #c98d62;
      // background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
      // cursor: pointer;
    }

    .section-label {
      left: 0;
      top: 0;
      cursor: pointer;
      margin: auto;
      opacity: 0.9;
      border-radius: 5px;
      min-width: fit-content;
      white-space: nowrap;
      position: absolute;
      background: rgb(251, 232, 213);
      opacity: 0.8;
      border: 1px solid #ccc;
      transition: 0.2s;
      color: #333;

      &.align-button {
        opacity: 0;
        right: 0;
        left: unset;
        // background: red;
        border: 1px solid rgb(251, 232, 213);
        &:hover {
          border: 1px solid rgb(251, 232, 213);
        }
        &.selected {
          opacity: 1 !important;
        }
        .section-title {
          border: 1px solid rgb(251, 232, 213);

          &:hover {
            color: black;
            border-radius: 5px;
          }
        }
      }

      &.disabled {
        background: #eee;
        cursor: default;
      }
    }

    .bookend {
      min-height: 80px;
      max-height: 100px;
      min-width: 50px;
      display: flex;
      align-content: flex-end;
      align-self: flex-end;
      justify-content: left;
    }

    .flipped {
      -moz-transform: scale(-1, 1);
      -webkit-transform: scale(-1, 1);
      -o-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      transform: scale(-1, 1);
    }

    .section-title {
      padding: 3px 10px;
      width: 80%;
      word-wrap: break-word;
      font-weight: bold;
    }

    .section-delete {
      position: absolute;
      right: 5px;
      top: 5px;
      color: #444;
      &:hover {
        color: white;
      }
    }
  }

  .selected {
    background-color: #c98d62;
  }

  #new-section {
    border: none;
    cursor: default;
    display: flex;
    justify-content: center;

    input {
      color: white;
      background: none;
      border: none;
      text-align: center;
      border-bottom: 0.5px solid #eee;
      width: 100%;
      &::placeholder {
        color: #eee;
        /* font-weight: 0; */
      }
      &:focus {
        outline: none;
      }
    }
  }
}
