@use "../abstracts" as *;

.section-card-book {
  height: 90px;
  border-radius: 5px;
  border: 0.5px rgba(255, 255, 255, 0.5);
  margin-top: auto;
  -webkit-box-shadow: inset -2px -2px 4px 0px rgba(0, 0, 0, 0.12);
  box-shadow: inset -2px -2px 4px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: inset -2px -2px 6px 0px #000000;

  &.dragging {
    -webkit-box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.12);
    box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: -2px -2px 6px 0px #000000;
  }
}
