@use "../abstracts" as *;

.search-input {
  font-size: 16px;
  width: 400px;
  height: 35px;
  padding-left: 5px;
  border: 1px solid #555;
  // border-right: 0px;
  // border-radius: 5px 0px 0px 5px;
  @media screen and ($MOBILE_VIEW) {
    width: 80vw;
  }
}

.search-input {
  font-size: 16px;
  // width: 400px;
  flex: 1;
  height: 40px;
  padding: 0px;
  padding-left: 7px;
  border: 1px solid #ccc;
  &:focus {
    outline: 1px solid lightblue;
  }
  // border-right: 0px;
  border-radius: 5px 0px 0px 5px;
  @media screen and ($MOBILE_VIEW) {
    width: 80vw;
  }
}

.search-button {
  color: white;
  border-radius: 0px 5px 5px 0px;
  background: #2a9d8f;
  border: 1px solid #2a9d8f;
  height: 42px;
  padding: 0px;
  width: 40px !important;
  cursor: pointer;
  border: none;
  &:hover {
    background: #31ccb9;
  }
  // @media screen and ($MOBILE_VIEW) {
  //   display: none;
  // }
}

.add-button {
  outline: none;
  border: none;
  background: #e8442d;
  font-size: 12px;
  &:hover {
    background: #cd4128;
  }

  &.disabled {
    cursor: default;
    background: #e5816fbf;
  }
}

.button {
  color: white;
  border-radius: 0px 5px 5px 0px;
  background: #2a9d8f;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  width: fit-content;
  &:hover {
    background: #31ccb9;
  }

  &.disabled {
    cursor: default;
    background: gray;
  }
}

.term-dropdown {
  position: relative;
  color: #333;
  .term-dropdown-button {
    cursor: pointer;
    min-width: 20px;
    border: none;
    background: white;
    color: black;
    opacity: 1 !important;
    padding: 0px !important;
  }
  .term-menu {
    color: #333;
    position: absolute;
    font-size: 12px;
    background: white;
    z-index: -1;
    border: 1px solid #ccc;
    right: 0px;
    top: 65px;
    padding: 8px 4px;
    min-width: 150px;
    margin-top: -20px;
    height: auto;
    opacity: 0;
    transition: 0.2s;
    border-radius: 5px;
    // @include shadow($card-shadow2);

    .fas {
      margin-right: 10px;
      width: 10px;
      &.fa-check {
        color: green;
      }
    }
    &.visible {
      opacity: 1;
      z-index: 15;
      transform: translateY(5px);
    }
    &__item {
      line-height: 30px;
      // width: 100%;
      padding: 2px 16px;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background: rgb(240, 242, 255);
      }
    }
  }
}

.create-account-button {
  font-size: 16px;
  padding: 10px 25px;
  cursor: pointer;
  background: #e8692d;
  color: white !important;
  /* border: 1px solid #e6482c; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 10px !important;
  margin-top: 10px;
  margin-bottom: 5px;
  // width: 175px;
  width: fit-content;
  text-align: center;
  transition: 0.2s;
  &:hover {
    background: #ff7000;
  }
  @media screen and (max-width: 1000px) {
    margin: auto;
  }
}
