.flex {
  display: flex;

  &-col {
    display: flex;
    flex-direction: column;
  }

  &-apart {
    display: flex;
    justify-content: space-between;
  }

  &-wrap {
    display: flex;
    flex-wrap: wrap;
  }


  &-center {
    display: flex;
    align-items: center;
  }
}

.page-wrapper {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */
  max-width: 960px; /* 2 */
  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
}

