@use "../abstracts" as *;


h1 {
  font-size: 24px;
  color: $dark-font-3;
}

p {
  display: inline-block;
  font-size: 13px;
  padding-right: 1rem;
}

a {
  text-decoration: none;
  color: var(--geist-foreground);
  display: inline-block;
}

h1,
h2,
h3 {
  margin: 0px;
}
